<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
  <head th:fragment="header">
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="/webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <script src="/webjars/bootstrap/js/bootstrap.bundle.min.js"></script>

    <title>Empleados/Departamentos - Mercedes Amor</title>
  </head>
  <body class="card-body">
    <h1>SECCIONES</h1>

    <nav th:fragment="menu" class="navbar navbar-dark bg-dark navbar-expand-sm">
      <ul class="navbar-nav">
        <li><a class="nav-link active" th:href="@{/}">Empleados</a></li>
        <li>
          <a class="nav-link active" th:href="@{/depto/}">Departamentos</a>
        </li>
        <li></li>
        <li>
          <a class="nav-link active" th:href="@{/nomina/}">Nominas</a>
        </li>
        <li>
          <form action="/nomina/cargar" method="get">
            <button class="btn btn-warning" type="submit">Cargar Nóminas</button>
        </form>
        </li>
      </ul>
    </nav>
  </body>
</html>
